@import 'common.scss';

.calendar {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100%;
  z-index: -1;

  &.on {
    z-index: 0;
  }

  .calendar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: all.3s;
    z-index: 100;

    &.on {
      transform: translateY(0);
    }

    .calendar-header {
      height: 45px;
      line-height: 45px;
      text-align: center;
      background-color: #f5f5f5;
      color: $normal-color;

      .calendar-cancel {
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        text-align: center;
        color: #ff5555;
        font-size: 14px;
      }
    }

    .calendar-weakday {
      background-color: #f5f5f5;

      li {
        line-height: 30px;
        width: 14.28%;
        float: left;
        padding: 3px 0;
        text-align: center;

        &:first-child,
        &:last-child {
          color: #ff5555;
        }
      }
    }

    .calendar-body {
      background: #ffffff;
      height: 470px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;

      .calendar-month {
        text-align: center;
        font-size: 16px;
        color: $normal-color;
        line-height: 40px;
      }

      .calendar-date {
        text-align: center;

        li {
          float: left;
          height: 40px;
          width: 14.28%;
          padding: 4px 0;
          color: $normal-color;
          font-weight: 400;
          vertical-align: middle;

          &.calendar-special {
            color: #ff5555;
          }
          &.calendar-on {
            background: #4289ff;
            color: #fff;
          }


          .calendar-day {
            line-height: 21px;
            font-size: 14px;
          }

          .calendar-note {
            line-height: 18px;
            font-size: 12px;
          }

          &:nth-of-type(7n),
          &:nth-of-type(7n+1) {
            color: #ff5555;
          }

          &:nth-of-type(7n).calendar-on,
          &:nth-of-type(7n+1).calendar-on {
            color: #fff;
          }
          &.calendar-date-invalid {
            color: #b2b2b2;
          }
        }
      }
    }
  }

  .calendar-modal {
    background: $modal-color;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: all 0.3s;
  }
}
